{% extends "project_base.html" %}

{% block title %}
<title>Rob Voigt</title>

{% endblock %}

{% block style %}
<style>
  html{
  /* This image will be displayed fullscreen */
  background:url("{{ url_for('static', filename='img/view.jpg') }}") no-repeat;

  /* Ensure the html element always takes up the full height of the browser window */
  min-height:100%;

  /* The Magic */
  background-position: right;
  background-color: #d9dbcd;
  background-size: auto 100%;
  }


</style>

{% endblock %}

{% block content %}


{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}

        <div class="alert alert-warning">
	  {{ message }}
	</div>
      {% endfor %}
   {% endif %}
{% endwith %}

<div class="row">

  <div class="col-xs-8 col-sm-6 col-lg-4 col-xl-4">

    <!--<h1>Hi there!</h1>-->
    <br>
      <p>
	<h4>I'm Rob,</h4> a <a href="http://nlp.stanford.edu/robvoigt">PhD student</a>, <a href="{{ url_for('facsimiles') }}">musician</a>, and occasional assorted thing-maker.
      </p>
    <p>
      <!--I like to play go-->
    </p>

  </div>
</div>

{% endblock %}



{% block tail_script %}

<script>
 
  $('document').ready(function(){
  
  });

</script>

{% endblock %}
